---
services:
  broker:
    image: eclipse-mosquitto:2.0
    container_name: broker
    restart: unless-stopped
    ports:
      - "1883:1883"     # MQTT protocol
      - "9001:9001"     # WebSocket (optional)
    environment:
      - TZ=UTC
    user: mosquitto
    volumes:
      - ./configs/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
  test:
    image: eclipse-mosquitto:2.0
    container_name: mqtt-client
    profiles: ["manual"]
    depends_on:
      - broker
    entrypoint: [""]
    user: mosquitto
    command: >
      mosquitto_pub -h broker -p 1883 -t 'test/topic' -m 'Hello from Docker MQTT client'
  llm: &base
    image: dompteur:dev
    build:
      context: .
      target: development
    depends_on:
      - broker
    command: domteur -vv llm start
    volumes:
      - ./config.example.yml:/app/config.yml:ro
      - ./domteur/:/app/domteur:ro
  repl:
    <<: *base
    command: domteur -vv chat repl
    stdin_open: true   # equivalent to -it
    tty: true          # equivalent to -it
    profiles:
      - manual

  ollama-nvidia:
    image: ollama/ollama
    container_name: ollama
    restart: unless-stopped
    volumes:
      - ollama:/root/.ollama
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    environment:
      NVIDIA_VISIBLE_DEVICES: all
    profiles:
      - nvidia

  ollama-amd:
    hostname: ollama
    image: ollama/ollama:rocm
    container_name: ollama
    restart: unless-stopped
    volumes:
      - ollama:/root/.ollama
    environment:
      - OLLAMA_NUM_PARALLEL=1
      - OLLAMA_MAX_LOADED_MODELS=2
    devices:
      - /dev/kfd
      - /dev/dri
    deploy:
      resources:
        limits:
          memory: 16G
    profiles:
      - amd

  rocm-base:
    image: domteur-rocm:dev
    build:
      context: .
      target: development
      args:
        BASE_IMAGE: rocm/dev-ubuntu-24.04:7.1-complete
    security_opt:
      - seccomp=unconfined
    devices:
      - /dev/kfd
      - /dev/dri
    profiles:
      - testing

volumes:
  ollama:
